.snackbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 0.75rem;
  min-height: 3rem;
  min-width: 18rem;
  color: var(--color-dark);
  padding: 0 1rem;
  z-index: 100; /* ensure is always on top*/
}

.snackbar-type-warning {
  background-color: var(--color-offline);
}

.snackbar-type-info {
  background-color: var(--color-online);
}

@keyframes slide-in-bottom {
  from {
    bottom: -5rem;
  }
  to {
    bottom: 5rem;
  }
}

@keyframes slide-out-bottom {
  from {
    bottom: 5rem;
  }
  to {
    bottom: -5rem;
  }
}

@keyframes slide-in-top {
  from {
    top: -5rem;
  }
  to {
    top: 5rem;
  }
}

@keyframes slide-out-top {
  from {
    top: 5rem;
  }
  to {
    top: -5rem;
  }
}
