.snackbar {
  position: fixed;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  border-radius: 0.75rem;
  min-height: 3rem;
  min-width: 15rem;
  color: var(--color-light);
  padding: 0 1rem;
  margin: 0 1rem;
}

.snackbar-type-warning {
  background-color: var(--color-warning);
}

.snackbar-type-info {
  background-color: var(--color-online);
}

@keyframes slide-in-bottom {
  from {
    bottom: -5rem;
  }
  to {
    bottom: 5rem;
  }
}

@keyframes slide-out-bottom {
  from {
    bottom: 5rem;
  }
  to {
    bottom: -5rem;
  }
}

@keyframes slide-in-top {
  from {
    top: -5rem;
  }
  to {
    top: 5rem;
  }
}

@keyframes slide-out-top {
  from {
    top: 5rem;
  }
  to {
    top: -5rem;
  }
}
