/* bring in normalize.css styles */
@import-normalize;

:root {
  --color-warning: #ff3a6a;
  --color-submit: #4b52ee;
  --color-online: #3fc6a2;
  --color-offline: #dfc04d;
  --color-light: #ffffff;
  --color-background: #191b1f;
  --color-dark: #262934;
  --color-light-variant: #6a6a6a;

  --title-font-size: 2.5rem;
  --subtitle-font-size: 2rem;
  --heading-font-size: 1.5rem;
  --subheading-font-size: 1.15rem;
  --paragraph-font-size: 1rem;
  --caption-font-size: 0.875rem;

  --gradient-game: linear-gradient(
    269.73deg,
    #4b52ee 40.15%,
    #fb4e78 78.32%,
    #3fc6a2 99.73%
  );

  --primary-font: 'DM Sans', sans-serif;

  font-size: 16px;
  --column-number: 4;
  --column-end: calc(var(--column-number) + 1);
  --padding-sides: 1.25rem;
  --padding-top-bottom: 2rem;
  --column-gap: 1rem;
  --row-gap: 2.5rem;
}

/* Styles for viewports wider than 768 pixels. */
@media (min-width: 768px) {
  :root {
    --column-number: 12;
    --padding-sides: 64px;
    --padding-top-bottom: 1.8rem;
    --column-gap: 1.1rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --padding-sides: 200px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

/* text styles */
.title-bold {
  font-size: var(--title-font-size);
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 3rem;
}

.subtitle-bold {
  font-size: var(--subtitle-font-size);
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 2.5rem;
}

.heading-bold {
  font-size: var(--heading-font-size);
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 2rem;
}

.subheading-bold {
  font-size: var(--subheading-font-size);
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.75rem;
}

.paragraph-regular {
  font-size: var(--paragraph-font-size);
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 1.5rem;
}

.paragraph-medium {
  font-size: var(--paragraph-font-size);
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5rem;
}

.paragraph-bold {
  font-size: var(--paragraph-font-size);
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 1.5rem;
}

.caption-regular {
  font-size: var(--caption-font-size);
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 1.25rem;
}

/* text colors */
.text-color-warning {
  color: var(--color-warning);
}

.text-color-submit {
  color: var(--color-submit);
}

.text-color-online {
  color: var(--color-online);
}

.text-color-offline {
  color: var(--color-offline);
}

.text-color-light {
  color: var(--color-light);
}

.text-color-background {
  color: var(--color-background);
}

.text-color-dark {
  color: var(--color-dark);
}

.text-color-game,
.text-color-playing {
  background: var(--gradient-game);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-light-variant);
  border-radius: 2px;
}
