/* bring in normalize.css styles */
@import-normalize;

:root {
  --color-warning: #ff3a6a;
  --color-submit: #4b52ee;
  --color-online: #3fc6a2;
  --color-offline: #dfc04d;
  --color-light: #ffffff;
  --color-background: #191b1f;
  --color-dark: #262934;

  --gradient-game: linear-gradient(
    269.73deg,
    #4b52ee 40.15%,
    #fb4e78 78.32%,
    #3fc6a2 99.73%
  );

  --primary-font: 'DM Sans', sans-serif;

  font-size: 100%;
}

/* Styles for viewports wider than 768 pixels. */
@media (min-width: 768px) {
  :root {
    font-size: 120%;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* text styles */
.title-bold {
  font-size: 3rem;
  font-family: var(--primary-font);
  font-weight: 700;
}

.subtitle-bold {
  font-size: 2.5rem;
  font-family: var(--primary-font);
  font-weight: 700;
}

.heading-bold {
  font-size: 1.5rem;
  font-family: var(--primary-font);
  font-weight: 700;
}

.subheading-bold {
  font-size: 1.25rem;
  font-family: var(--primary-font);
  font-weight: 700;
}

.paragraph-regular {
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 400;
}

.paragraph-medium {
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 500;
}

.paragraph-bold {
  font-size: 1rem;
  font-family: var(--primary-font);
  font-weight: 700;
}

.caption-regular {
  font-size: 0.875rem;
  font-family: var(--primary-font);
  font-weight: 400;
}

/* text colors */
.text-color-warning {
  color: var(--color-warning);
}

.text-color-submit {
  color: var(--color-submit);
}

.text-color-online {
  color: var(--color-online);
}

.text-color-offline {
  color: var(--color-offline);
}

.text-color-light {
  color: var(--color-light);
}

.text-color-background {
  color: var(--color-background);
}

.text-color-dark {
  color: var(--color-dark);
}

.text-color-game,
.text-color-playing {
  background: var(--gradient-game);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
