.stats-page {
  height: 100vh;
  padding: var(--padding-top-bottom) var(--padding-sides);
  display: grid;
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-template-rows: auto 1fr;
  gap: 6rem var(--column-gap);
  background-color: var(--color-background);
  color: var(--color-light);
}

.stats-page .header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.stats-page .graphs {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  overflow-y: scroll;
}

.stats-page .graphs .line-graph-wrapper canvas {
  min-height: 18rem;
}

.stats-page .graphs .pie-chart-wrapper canvas {
  min-height: 18rem;
}
