.stats-page {
  height: 100vh;
  padding: var(--padding-top-bottom) var(--padding-sides);
  background-color: var(--color-background);
  color: var(--color-light);
  display: grid;
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-template-rows: 1fr;
}

.stats-page .canvas {
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-self: center;
  justify-self: center;
}
