.stats-page {
  height: 100vh;
  padding: var(--padding-top-bottom) var(--padding-sides);
  display: grid;
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-template-rows: auto 1fr;
  gap: 3rem var(--column-gap);
  background-color: var(--color-background);
  color: var(--color-light);
  max-height: available;
  overflow: clip;
}

.stats-page .header {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: center;
}

.stats-page .graphs-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
  grid-column: 1/-1;
  grid-row: 2/-1;
  overflow-y: scroll;
}

.stats-page .graphs-wrapper .graphs {
  display: flex;
  height: min-content;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--row-gap) var(--column-gap);
}

.stats-page .graphs-wrapper .graphs .line-graph-wrapper {
  display: flex;
  justify-content: center;
}

.stats-page .graphs-wrapper .graphs .line-graph-wrapper canvas {
  min-height: 18rem;
  max-width: 60vw;
}

.stats-page .graphs-wrapper .graphs .pie-chart-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 60%;
  max-width: 30rem;
}

.stats-page .graphs-wrapper .graphs .pie-chart-wrapper canvas {
  height: 18rem;
}
