.login-page {
  display: contents;
}

.login-container__separator {
  align-items: center;
}

.login-page .login-form > .input,
.login-page .button,
.login-page .final-text,
.login-page .login-container__separator {
  margin-bottom: 0.875rem;
  width: 100%;
  min-width: 15rem;
  max-width: 20rem;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form > .button {
  margin-bottom: 0.875rem;
  width: 100%;
}

.login-page .final-text {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.login-page .final-text a {
  text-decoration: none;
}

/* Styles for viewports wider than 768 pixels. */
@media (min-width: 768px) {
  .login-form {
    align-items: flex-start;
  }
}
