.avatar-page-template {
  margin: 0;
  padding: var(--padding-top-bottom) var(--padding-sides);
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-light);
  grid-column-gap: var(--column-gap);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: calc(var(--row-gap) * 1.5);
  overflow: scroll;
}

.avatar-page-template-loading {
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-self: center;
  justify-self: center;
}

.avatar-page-center-element-wrapper {
  overflow-y: scroll;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  gap: var(--row-gap);
}

.avatar-page-left-column {
  width: fit-content;
  align-self: center;
  display: flex;
  gap: var(--row-gap);
  flex-direction: column;
  align-items: center;
}

.avatar-page-caption-like-wrapper > * {
  text-align: center;
  margin: 0;
}

.avatar-page-content-wrapper {
  min-width: 15rem;
  width: 100%;
  max-width: 20rem;
  align-self: center;
  gap: var(--row-gap);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.avatar-page-buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--row-gap);
  grid-row: 3 / 4;
  align-items: center;
}

@media all and (min-width: 768px) {
  .avatar-page-template {
    display: grid;
    grid-template-columns: repeat(var(--column-number), 1fr);
    grid-template-rows: auto 20% auto 1fr auto;
    grid-row-gap: 0;
  }

  .avatar-page-template .header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  .avatar-page-center-element-wrapper {
    max-height: fit-content;
    grid-column: 2 / calc(var(--column-end) - 1);
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: var(--column-gap);
  }

  .avatar-page-left-column {
    align-self: unset;
    justify-self: right;
    grid-column: 1 / 5;
    grid-row: 1/-1;
  }

  .avatar-page-caption-like-wrapper > * {
    text-align: right;
  }

  .avatar-page-content-wrapper {
    width: 100%;
    grid-column: 6 / 11;
    min-height: 100%;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
  }

  .avatar-page-buttons-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: var(--row-gap);
    grid-column: 1 / var(--column-end);
    grid-row: 5 / 6;
    justify-content: space-evenly;
  }
}

@media all and (min-width: 1200px) {
  .avatar-page-center-element-wrapper {
    grid-column: 3 / calc(var(--column-end) - 1);
    grid-template-columns: repeat(9, 1fr);
  }

  .avatar-page-left-column {
    grid-column: 1 / 4;
  }

  .avatar-page-content-wrapper {
    grid-column: 5 / 9;
  }
}
