.main-tab-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-tab-buttons-wrapper {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 768px) {
  .main-tab-buttons-wrapper {
    display: flex;
    flex-direction: row;
  }

  .main-tab-buttons {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-self: center;
  }
}
