.user-page {
  margin: 0;
  padding: var(--padding-top-bottom) var(--padding-sides);
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-light);
  grid-column-gap: var(--column-gap);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 4rem;
  overflow: scroll;
}

.user-page-loading {
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-self: center;
  justify-self: center;
}

.user-wrapper {
  height: 24.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-wrapper .user-text {
  height: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-wrapper .user-text > * {
  margin: 0;
}

.user-text {
  margin-left: 1rem;
}

.user-page .button {
  justify-self: center;
}

@media all and (min-width: 768px) {
  .user-page {
    display: grid;
    grid-template-columns: repeat(var(--column-number), 1fr);
    grid-template-rows: auto 20% auto 1fr auto;
    grid-row-gap: 0;
  }

  .user-page .header {
    grid-row: 1 / 2;
    grid-column: 1 / var(--column-end);
  }

  .user-wrapper {
    height: auto;
    grid-column: 2 / calc(var(--column-end) - 1);
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: var(--column-gap);
    grid-row-gap: 4rem;
  }

  .user-wrapper .avatar-large {
    justify-self: flex-end;
    align-self: start;
    grid-column: 1 / 5;
    grid-row: 1/3;
  }

  .user-wrapper .user-text {
    grid-column: 6 / 11;
    height: 4.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .user-wrapper .row {
    grid-column: 6 / 10;
    grid-row: 2 / 3;
  }

  .user-page .button {
    grid-column: 1 / var(--column-end);
    grid-row: 5 / 6;
  }
}

@media all and (min-width: 1200px) {
  .user-wrapper {
    grid-column: 3 / calc(var(--column-end) - 1);
    grid-template-columns: repeat(9, 1fr);
  }

  .user-wrapper .avatar-large {
    justify-self: left;
    align-self: flex-start;
    grid-column: 1 / 4;
  }

  .user-wrapper .user-text {
    grid-column: 5 / 10;
  }

  .user-wrapper .row {
    grid-column: 5 / 9;
  }
}
