.edit-chatroom-member-page {
  display: contents;
}

.edit-chatroom-member-page .avatar-page-content-wrapper {
  align-items: center;
}

@media all and (min-width: 768px) {
  .edit-chatroom-member-page .avatar-page-content-wrapper {
    gap: calc(var(--row-gap) * 2);
    align-items: flex-start;
  }
}
