.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
  /* Disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game-start {
  margin: auto;
}

.game-wait {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-wait-text {
  margin-top: 4rem;
}

.game-arena {
  border: solid 0.125rem var(--color-light);
  border-bottom: dashed;
  align-self: center;
  justify-self: center;
  object-fit: contain;
}

.game-score {
  margin-bottom: 1rem;
}

.game-multiplayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  touch-action: none;
  /* Disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.game-multiplayer-start {
  margin: auto;
}

.game-multiplayer-wait {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-multiplayer-wait-text {
  margin-top: 4rem;
}

.game-multiplayer-arena {
  border: solid 0.125rem var(--color-light);
  border-bottom: dashed;
  border-top: dashed;
  align-self: center;
  justify-self: center;
  object-fit: contain;
}

.game-multiplayer-score {
  margin-bottom: 1rem;
  width: 100%;
}
