.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.header-navigation,
.header-navigation a,
.header-navigation button,
.header-text,
.header-status {
  display: flex;
  align-items: center;
}

.header-navigation button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.header-text {
  justify-content: center;
}

.header-text > *,
.header-text a > * {
  margin: 0;
  text-align: center;
}

.header-status {
  justify-content: flex-end;
}

.header-buttons {
  display: flex;
}

@media all and (max-width: 768px) {
  .header-buttons {
    flex-direction: column;
    justify-self: flex-end;
  }

  .header-buttons > * {
    margin-bottom: 0.5rem;
  }

  .header-buttons > *:last-child {
    margin-bottom: 0;
  }
}

@media all and (min-width: 768px) {
  .header-buttons {
    flex-direction: row;
    justify-self: flex-end;
  }

  .header-buttons > * {
    margin-right: 0.5rem;
  }

  .header-buttons > *:last-child {
    margin-right: 0;
  }
}
