.header {
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-navigation,
.header-navigation a,
.header-text,
.header-status {
  display: flex;
  align-items: center;
}

.header-text {
  justify-content: center;
}

.header-text > * {
  margin: 0;
  white-space: nowrap;
}

.header-status {
  justify-content: flex-end;
}
