.edit-user-form {
  width: 23rem;
  height: 100vh;
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.inputs-container {
  width: 100%;
}
.inputs-container > .input {
  margin-bottom: 0.875rem;
}
