.Landing {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
  color: var(--color-light);
}
