.landing {
  margin: 0;
  padding: var(--padding-top-bottom) var(--padding-sides);
  height: 100vh;
  min-height: 40rem;
  overflow: scroll;
  background-color: var(--color-background);
  color: var(--color-light);
  display: grid;
  gap: 4rem var(--column-gap);
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    'title title title title'
    '... animation animation ...'
    'subtitle subtitle subtitle subtitle'
    'login login login login';
}

.landing-loading {
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-self: center;
  justify-self: center;
}

.landing-title > *,
.landing-subtitle > * {
  margin: 0;
}

.landing-title {
  grid-area: title;
}

.landing-subtitle {
  grid-area: subtitle;
}

.landing-login-button {
  grid-area: login;
  justify-self: center;
}

.landing-login-button,
.landing-login-button > button {
  width: 100%;
  min-width: 15rem;
  max-width: 20rem;
}

/* Styles for viewports wider than 768 pixels. */
@media (min-width: 768px) {
  .landing {
    min-height: 20rem;
    gap: 6rem var(--column-gap);
    padding: 4rem var(--padding-sides) 8rem var(--padding-sides);
    grid-template-columns: repeat(var(--column-number), 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      'title title title title title title ... ... ... ... ... ...'
      'subtitle subtitle subtitle subtitle subtitle ... ... ... animation animation animation animation'
      'login login login login ... ... ... ... animation animation animation animation';
  }

  .landing-login-button {
    align-self: center;
    justify-self: start;
  }
}

/* Modified from https://codepen.io/Yousra_M/pen/WjLBzX */
.landing-animation {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  grid-area: animation;
}

.landing-animation-ping,
.landing-animation-pong {
  width: 5rem;
  height: 0.5rem;
  border-radius: 1rem;
  position: absolute;
  background: var(--color-light);
}

.landing-animation-ping {
  top: 6%;
  animation: ping 6s infinite linear;
}

.landing-animation-pong {
  bottom: 6%;
  animation: pong 6s infinite linear;
}

.landing-animation-ball {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  position: absolute;
  background: var(--color-light);
  animation: ball 6s infinite linear;
}

/* ----- keyframes ------ */
@keyframes ball {
  0%,
  100% {
    /* start and stop in the middle */
    left: 34%;
    top: 52%;
  }
  8.3% {
    /* pong */
    left: 52%;
    top: 90%;
  }
  24.9% {
    /* ping */
    left: 85%;
    top: 8%;
  }
  30% {
    left: 98%;
    top: 27%;
  }
  41.5% {
    /* pong */
    left: 70%;
    top: 90%;
  }
  58.1% {
    /* ping */
    left: 55%;
    top: 8%;
  }
  74.7% {
    /* pong */
    left: 13%;
    top: 90%;
  }
  79% {
    left: 1%;
    top: 70%;
  }
  91.3% {
    /* ping */
    left: 22%;
    top: 8%;
  }
}

@keyframes ping {
  /* top player */
  0%,
  100% {
    left: 10%;
  }
  5% {
    left: 10%;
  }
  9% {
    left: 24%;
  }
  13% {
    left: 17%;
  }
  24.9% {
    /* tap */
    left: 82%;
  }
  47% {
    left: 37%;
  }
  52% {
    left: 41%;
  }
  56% {
    left: 64%;
  }
  58.1% {
    /* tap */
    left: 54%;
  }
  70% {
    left: 74%;
  }
  84% {
    left: 12%;
  }
  91.3% {
    /* tap */
    left: 18%;
  }
}

@keyframes pong {
  /* bottom player */
  0%,
  100% {
    left: 90%;
  }
  8.3% {
    /* tap */
    left: 51%;
  }
  20% {
    left: 60%;
  }
  25% {
    left: 34%;
  }
  41.5% {
    /* tap */
    left: 68%;
  }
  46% {
    left: 36%;
  }
  52% {
    left: 18%;
  }
  58.1% {
    left: 53%;
  }
  66% {
    left: 14%;
  }
  70% {
    left: 20%;
  }
  74.7% {
    left: 10%;
  }
  91.3% {
    /* tap */
    left: 10%;
  }
}
