.navigation-bar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
}

/* Styles for viewports wider than 768 pixels. */
@media (min-width: 768px) {
  .navigation-bar ul {
    column-gap: 2rem;
  }
}
