.edit-avatar-page {
  margin: 0;
  padding: var(--padding-top-bottom) var(--padding-sides);
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-light);
  display: grid;
  gap: 3rem var(--column-gap);
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.edit-avatar-page .row {
  width: 15rem;
}
