.button {
  height: 3rem;
  color: var(--color-light);
  border: 0;
  position: relative;
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
}

.button-large {
  width: 100%;
  min-width: 15rem;
  max-width: 20rem;
  border-radius: 0.5rem;
}

.button-small {
  width: 3rem;
  border-radius: 50%;
}

.button-chip {
  border-radius: 1rem;
  height: 1.5rem;
  min-width: 8rem;
  max-width: 12rem;
  padding: 1rem;
  padding-left: 2rem;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button-warning {
  background: var(--color-warning);
}

.button-submit {
  background: var(--color-submit);
}

.button-submit-alternative {
  background: var(--color-light);
  border: 0.1875rem solid var(--color-submit);
  color: var(--color-submit);
}

.button-small .button-icon {
  display: flex;
}

.button-large .button-icon {
  display: flex;
  position: absolute;
  left: 1rem;
}

.button-chip .button-icon {
  display: flex;
  position: absolute;
  left: 0.675rem;
}
