.button {
  height: 3rem;
  color: var(--color-light);
  border: 0;
  position: relative;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-large {
  width: 100%;
  min-width: 15rem;
  max-width: 20rem;
  border-radius: 0.5rem;
}

.button-small {
  width: 3rem;
  border-radius: 50%;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.button-warning {
  background: var(--color-warning);
}

.button-submit {
  background: var(--color-submit);
}

.button-submit-alternative {
  background: var(--color-light);
  border: 0.1875rem solid var(--color-submit);
  color: var(--color-submit);
}

.button-icon {
  display: flex;
}
