.button-bubble-collapsed {
  z-index: 99;
  position: fixed;
  right: 1rem;
  top: 30%;
}

.button-bubble-uncollapsed {
  z-index: 99;
  position: fixed;
  right: 7rem;
  top: 30%;
}

.collapsible-button {
  display: block;
  height: 3rem;
  width: auto;
  position: relative;
}

.collapsible-button-uncollapsed .button-chip {
  z-index: 98;
  width: 100%;
  position: absolute;
  height: 3rem;
  left: 0;
}

.collapsible-button-collapsed .button-small,
.collapsible-button-uncollapsed .button-small {
  z-index: 99;
  position: absolute;
  top: 0;
  left: -1rem;
}

.collapsible-button-collapsed .button-chip {
  display: none;
}
