.row {
  width: 322px;
  height: 82px;
  border-radius: 8px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 0;
  position: relative;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.row_wrapper {
  width: 80%;
  position: absolute;
  left: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.text_box_wrapper {
  width: 70%;
  height: 47px;
  display: flex;
  padding: 0;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
}


h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
  margin-bottom: 2px;
}

.row-icon {
  display: flex;
  position: absolute;
  right: 20px;
}
