.row {
  display: flex;
  width: 100%;
  min-width: fit-content;
  height: 82px;
  padding: 16px 28px;
  border-radius: 8px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 0;
  column-gap: 22px;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}

.row_text_wrapper,
.row_text_wrapper > * {
  margin: 0;
  text-align: left;
  white-space: nowrap;
}

.row-icon {
  margin-left: auto;
}
