.row {
  display: flex;
  width: 100%;
  min-width: fit-content;
  height: 4.5rem;
  padding: 0.9rem 1.56rem;
  border-radius: 0.44rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 0;
  column-gap: 1.22rem;
  align-items: center;
  cursor: pointer;
  flex-direction: row;
}

.row_text_wrapper,
.row_text_wrapper > * {
  margin: 0;
  text-align: left;
  white-space: nowrap;
}

.row-icon {
  display: flex;
  margin-left: auto;
}
