.scorerow {
  text-decoration: none;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  width: 100%;
  min-width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  column-gap: 1.25rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 0;
  align-items: center;
  flex-direction: row;
}
.scorerow_text_upper_wrapper_p1 > *,
.scorerow_text_upper_wrapper_score > *,
.scorerow_text_upper_wrapper_p2 > *,
.scorerow_text_lower_wrapper > * {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0;
}

.scorerow_text_upper_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1.25rem;
  width: 100%;
  min-width: fit-content;
  align-items: center;
  flex-direction: row;
}

.scorerow_text_lower_wrapper {
  display: flex;
  justify-content: space-evenly;
}

.scorerow_text_upper_wrapper_p1 {
  grid-column: 1 / 2;
}
.scorerow_text_upper_wrapper_score {
  grid-column: 2 / 3;
  text-align: center;
}
.scorerow_text_upper_wrapper_p2 {
  grid-column: 3 / 4;
  text-align: right;
}

@media (max-width: 768px) {
  .scorerow_text_lower_wrapper {
    display: none;
  }
}
