.users {
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-light);
}

.users-avatar .avatar-small__image-wrapper {
  margin: 0;
}

.users-search {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.users-rows {
  overflow-y: auto;
  height: calc(100vh - 16rem);
}

.users-navigation {
  margin-top: 1rem;
}

@media all and (min-width: 768px) {
  .users {
    padding: 1rem 100px;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6rem auto;
  }

  .users-avatar {
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .users-search {
    align-self: center;
    margin: 0;
    grid-column: 2/6;
    grid-row: 1/2;
  }

  .users-search .input-container {
    margin: 0;
  }

  .users-navigation {
    align-self: center;
    grid-column: 9/13;
    grid-row: 1/2;
  }

  .users-rows {
    grid-column: 1/13;
    grid-row: 2/3;
    overflow-y: auto;
    height: calc(100vh - 10rem);
  }
}

@media all and (min-width: 1024px) {
  .users {
    padding: 1rem 200px;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-light);
  border-radius: 10px;
}
