.users {
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-light);
}

.users-fixed-frame {
  position: fixed;
  width: var(--main-canvas-width);
}

@media all and (min-width: 768px) {
  .users-fixed-frame,
  .users-fixed-frame > .users-avatar-search {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
  }
  .users-fixed-frame > .users-avatar-search > .avatar-small {
    margin-right: 2.1rem;
  }
  .users-fixed-frame > .navigation-bar {
    margin-left: 2.1rem;
    width: calc(var(--main-canvas-width) / 2);
    top: 0;
  }
}

@media not all and (min-width: 768px) {
  .users-fixed-frame,
  .users-fixed-frame > .users-avatar-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
  }
  .users-fixed-frame > .navigation-bar {
    position: fixed;
    bottom: 0;
    width: var(--main-canvas-width);
  }
}

.users-scrollable {
  overflow: auto;
  margin-top: 140px;
  height: 70vh;
  width: var(--main-canvas-width);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-dark-variant);
  border-radius: 10px;
}
