.rows-page {
  margin: 0;
  padding: var(--padding-top-bottom) var(--padding-sides);
  height: 100vh;
  background-color: var(--color-background);
  color: var(--color-light);
  display: grid;
  column-gap: var(--column-gap);
  row-gap: 1.5rem;
  grid-template-columns: repeat(var(--column-number), 1fr);
  grid-template-rows: auto auto auto 1fr;
}

.rows-page .header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.rows-page .rows-page-summary {
  grid-row: 2/3;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: var(--row-gap);
}

.rows-page .rows-list-template-search {
  grid-row: 3/4;
  grid-column: 1/-1;
}

.rows-page .rows-list-template-rows {
  grid-row: 4/5;
  grid-column: 1/-1;
  overflow-y: scroll;
}

.rows-page .rows-page-summary .rows-page-text-info {
  display: flex;
  flex-direction: column;
}

.rows-page .rows-page-summary .rows-page-text-info > * {
  margin: 0.1rem;
}

@media all and (min-width: 768px) {
  .rows-page {
    display: grid;
    grid-template-columns: repeat(var(--column-number), 1fr);
    column-gap: var(--column-gap);
    grid-template-rows: auto auto auto 1fr;
  }
  .rows-page .rows-page-summary {
    grid-row: 2/3;
    grid-column: 1/6;
  }

  .rows-page .rows-list-template-search {
    grid-row: 2/3;
    grid-column: 8/-1;
  }

  .rows-page .rows-list-template-rows {
    grid-row: 3/4;
    grid-column: 1/-1;
  }
}
