.chat-room {
  padding: 0.5rem;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-light);
}

.chat-room-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chat-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
