.chat-room {
  padding: 1rem;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-light);
}

.chat-room-header > * {
  margin: 0;
}

.chat-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
