.message-list {
  max-width: 32rem;
  width: 100%;
}

.message-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-container:not(:last-child) {
  border-bottom: 1px solid var(--color-light);
}
