.register {
  margin: 0;
  padding: var(--padding-top-bottom) var(--padding-sides);
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
  color: var(--color-light);
  display: grid;
  gap: 6rem var(--column-gap);
  grid-template-columns: repeat(var(--column-number), auto);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title title ... ...'
    'main main main main';
}

.register-title > *,
.register-subtitle > * {
  margin: 0;
  justify-self: center;
  max-width: 20rem;
}

.register-title {
  grid-area: title;
}

.register-container {
  grid-area: main;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem var(--column-gap);
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form .inputs-container > .input {
  margin-bottom: 0.875rem;
  width: 100%;
  min-width: 15rem;
  max-width: 20rem;
}

.register .landing-animation {
  display: none;
}

/* Styles for viewports wider than 768 pixels. */
@media (min-width: 768px) {
  .register {
    min-height: 100vh;
    padding: 4rem var(--padding-sides) 8rem var(--padding-sides);
    grid-template-columns: repeat(var(--column-number), 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      'title title title title title title ... ... ... ... ... ...'
      'main main main main main ... ... animation animation animation animation animation';
  }
  .register-container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 0.5rem var(--column-gap);
  }

  .register .landing-animation {
    display: inline;
  }
}
