@media all and (max-width: 768px) {
  .chat-page-button {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    right: 1.875rem;
    top: 1.875rem;
  }
}

@media all and (min-width: 768px) {
  .chat-page-button {
    position: fixed;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.875rem;
  }
}
