.chat-page-button {
  position: fixed;
  width: 20rem;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}

@media all and (min-width: 768px) {
  .chat-page-button {
    bottom: 1.875rem;
  }
}
