.avatar-status--online {
  background-color: var(--color-online);
}

.avatar-status--offline {
  background-color: var(--color-offline);
}

.avatar-status--playing {
  background: var(--gradient-game);
}

.avatar-small {
  display: flex;
}

.avatar-large {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar-small__image-wrapper,
.avatar-large__image-wrapper {
  border-radius: 50%;
  -webkit-transform: scale(0.86);
  z-index: 1;
  display: flex;
  justify-content: center;
  margin: 0.25rem;
}

.avatar-large__image {
  width: 10rem;
  height: 10rem;
  padding: 0.35rem;
}

.avatar-small__image {
  width: 3.22rem;
  height: 3.22rem;
  padding: 0.15rem;
}

:root {
  --root-avatar-x: 10px;
  --root-avatar-y: 1px;
}

.avatar-large__image {
  --x: var(--root-avatar-x);
  --y: var(--root-avatar-y);
  --radius: 10rem;
  -webkit-transform: scale(1.55);
}
.avatar-small__image {
  --x: calc(var(--root-avatar-x) * 0.333333);
  --y: calc(var(--root-avatar-y) * 0.25);
  --radius: 3.15rem;
  -webkit-transform: scale(1.55);
}
.avatar-large__image,
.avatar-small__image {
  object-fit: cover;
  object-position: var(--x) var(--y);
  -webkit-mask-image: radial-gradient(
    circle calc(var(--radius) * 0.3) at center,
    #000 0,
    #000 99%,
    transparent 100%
  );
}

.avatar-large__edit {
  position: absolute;
  top: 0;
  right: 0;
}

.avatar-large__caption {
  margin-top: 0.5rem;
}
