.avatar-status--online {
  background-color: var(--color-online);
}

.avatar-status--offline {
  background-color: var(--color-offline);
}

.avatar-status--playing {
  background: var(--gradient-game);
}

.avatar-small {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.avatar-medium {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.avatar-large {
  margin: 0;
  width: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar-small__image-wrapper,
.avatar-medium__image-wrapper,
.avatar-large__image-wrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.avatar-large__image {
  width: 10rem;
  height: 10rem;
  --radius: 3rem;
}

.avatar-medium__image {
  width: 3.22rem;
  height: 3.22rem;
  --radius: 0.945rem;
}

.avatar-small__image {
  width: 1.5rem;
  height: 1.5rem;
  --radius: 0.45rem;
}

.avatar-large__image,
.avatar-small__image,
.avatar-medium__image {
  object-fit: cover;
  transform: scale(
    1.55
  ); /* TODO: maybe we would like to save this into another parameter */
  mask-image: radial-gradient(
    circle var(--radius) at center,
    #000 0,
    #000 97%,
    transparent 100%
  );
}

.avatar-large__edit {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
}

.avatar-large__caption {
  margin-top: 0.5rem;
}
