.editable-avatar {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #63676d;
  justify-content: center;
  width: fit-content;
}

.editable-avatar__image {
  margin: 0;
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  -webkit-mask-image: radial-gradient(
    circle 5.5rem at center,
    rgb(0, 0, 0, 1) 0,
    rgb(0, 0, 0, 1) 97%,
    rgb(0, 0, 0, 0.5) 98%
  );
}
