.editable-avatar {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light);
  justify-content: center;
  width: fit-content;
  clip-path: inset(0.55rem 0.55rem 0.55rem 0.55rem round 0.55rem);
}

.editable-avatar__image {
  margin: 0;
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  -webkit-transform: scale(1.45);
  --radius: 5.5rem;
  -webkit-mask-image: radial-gradient(
    circle calc(var(--radius)) at center,
    rgb(0, 0, 0, 1) 0,
    rgb(0, 0, 0, 1) 97%,
    rgb(0, 0, 0, 0.5) 98%
  );
}
