.editable-avatar {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.editable-avatar--disabled {
  opacity: 0.25;
  pointer-events: none;
}

.editable-avatar .text-color-light {
  margin: 0 0 1rem 0;
}

.editable-avatar-wrapper {
  margin: -0.5rem;
  background-color: var(--color-light);
  width: fit-content;
  clip-path: inset(0.55rem 0.55rem 0.55rem 0.55rem round 0.55rem);
  border: none;
  overflow: clip;
}

.editable-avatar__image {
  -webkit-user-drag: none;
  margin: 0;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  transform: scale(1.29); /* EDITABLE_AVATAR_SCALE */
  mask-image: radial-gradient(
    circle 4.89rem at center,
    rgb(0, 0, 0, 1) 0,
    rgb(0, 0, 0, 1) 97%,
    rgb(0, 0, 0, 0.4) 98%
  );
}
